.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 15px;
}

.table {
  border-radius: 5px;
  width: 75%;
  margin: 0px auto;
  float: none;
}

.links {
  background-color: black;
  text-align: center;
  font-family: sans-serif;
  padding: 15px;
  margin: 0px 0px 30px 0px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.linkItem a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
}

.linkItemActive a {
  color: rgb(248, 248, 147);
  margin: 0 20px;
  text-decoration: none;
}

.a:visited {
  color: white;
  margin: 0 20px;
  text-decoration: none;
}

.inputs .input {
  text-align: left;
  height: 25px;
  width: 250px;
  margin: 5px 0;
}

.inputs .button {
  text-align: center;
  font-weight: bold;
  padding: 7px 15px;
}

.page {
  padding: 30px;
  font-family: sans-serif;
}

.page h2 {
  text-align: center;
}

.page p {
  text-align: center;
}

.card_loc {
  width: 200px;
  margin: auto; 
  margin-top: 20px;
  padding: 10px;
}

.button-padding-left {
  padding: 0 0 10px 13%
}