.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 15px;
}

.table {
  border-radius: 5px;
  width: 75%;
  margin: 0px auto;
  float: none;
}

.topHeader {
  background-color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2em;
  padding: 0px;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.vaultIcon {
  /* font-size: 1.5em; */
  transform: scale(1.5);
}

.links {
  background-color: black;
  text-align: center;
  font-family: sans-serif;
  padding: 15px;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.linkItem a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
}

.linkItemActive a {
  color: rgb(206, 205, 205);
  /* color: rgb(248, 248, 147);   */
  margin: 0 20px;
  text-decoration: none;
}

.a:visited {
  color: white;
  margin: 0 20px;
  text-decoration: none;
}

.inputs .input {
  text-align: left;
  height: 25px;
  width: 250px;
  margin: 5px 0;
}

.inputs .button {
  text-align: center;
  font-weight: bold;
  padding: 7px 15px;
}

.page {
  padding: 0%;
  font-family: sans-serif;
}

.page h2 {
  text-align: center;
}

.page p {
  text-align: center;
}

.card_loc {
  width: 200px;
  margin: auto; 
  margin-top: 20px;
  padding: 10px;
}

.button-padding-left {
  padding: 0 0 10px 13%
}

.hr-len {
  border: 1px solid;
  color: black;
  width: 50%;
  margin: auto;
}